<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="shortcut icon" href="/images/favicon.png"></link>
    <script>
        $(function () {
            $view = $(window).height();
            $(".col-left-main").css('height', $view);
            $(".show").css('height', $view - $('.compiler').height() - 20);
            $(".col-md-right").css('height', $view);
        })
    </script>
</head>

<body>
    <div class="main row">
        <div class="col-md-9 col-left-main">
            <div class="show">
                <ul class="list">
                    <li class="item">
                        系统(
                        <%= time %>):你进入了聊天室！
                    </li>
                </ul>
            </div>
            <div class="compiler">
                <textarea class="text"></textarea>
                <div class="button">发送</div>

                <div class="show-info">
                    你好
                    <span class="username">
                        <%= name %>
                    </span>，你正在对 所有人 说
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-right">
            <div class="col-md-title">全部用户</div>
            <div class="centent">
                <ul class="user-list clearfix">
                </ul>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>