<!doctype html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>注册</title>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/layer/layer.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/login.css"></link>
</head>
<link rel="shortcut icon" href="/images/favicon.png"></link>

<body>
	<div class="bg"></div>
	<video autoplay loop poster="images/semalt.jpg" id="bgvid">
	</video>
	<div class="login">
		<div class="l_content">
			<form action="javascript:;" method="post" id="form">
				<h2>用户登录</h2>
				<dl>
					<dt>请输入您的账号：</dt>
					<dd>
						<input name="name" type="text" placeholder="您的账号..." />
						<dd>
				</dl>
				<dl>
					<dt>请输入您的密码：</dt>
					<dd>
						<input name="password" type="password" placeholder="您的密码..." />
						<dd>
				</dl>
				<dl>
					<dt>亲，可以登陆咯：</dt>
					<dd>
						<input type="submit" value="登  录" />
					</dd>
				</dl>
				<div class="l_info">
					<a href="/register">免费注册</a>
				</div>
			</form>
		</div>
	</div>
	<script src="/js/login.js"></script>
</body>

</html>