<!doctype html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>注册</title>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/layer/layer.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/register.css"></link>
</head>
<link rel="shortcut icon" href="/images/favicon.png"></link>

<body>
	<div class="register">
		<div class="r_content">
			<h1>用户免费注册</h1>
			<form action="javascript:;" method="post" id="form">
				<dl>
					<dt>请输入您的名字：</dt>
					<dd>
						<input type="text" name="name" value="" placeholder="请输入名字..." />
					</dd>
				</dl>
				<dl>
					<dt>请输入您的密码：</dt>
					<dd>
						<input type="password" name="password" value="" placeholder="请输入您的密码..." />
					</dd>
				</dl>
				<dl>
					<dt>请输入您的生日：</dt>
					<dd>
						<input type="date" name="date" value="" placeholder="请输入您的生日..." />
					</dd>
				</dl>
				<dl>
					<dt>请输入您的QQ号：</dt>
					<dd>
						<input type="text" name="qq" value="" placeholder="请输入您的QQ号..." />
					</dd>
				</dl>
				<dl>
					<dt>请输入您的手机：</dt>
					<dd>
						<input type="number" name="phone" value="" placeholder="请输入您的手机..." />
					</dd>
				</dl>
				<dl>
					<dt>请输入您的邮箱：</dt>
					<dd>
						<input type="Email" name="email" value="" placeholder="请输入您的邮箱..." />
					</dd>
				</dl>
				<dl>
					<dt>亲，可以提交咯：</dt>
					<dd>
						<input type="submit" value="注  册" />
					</dd>
				</dl>
				<div class="l_info">
					<a href="/login">登入</a>
				</div>
			</form>
		</div>
	</div>
	<script src="/js/reg.js"></script>
</body>

</html>