* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "微软雅黑";
    font: 14px/50px "微软雅黑";
    background: url("../images/bj.jpg")no-repeat top center;
    background-attachment: fixed;
    color: #fff;
    perspective: 3000px;
    -webkit-perspective: 3000px;
}

.register {
    width: 550px;
    height: 550px;
    background: rgba(190, 190, 190, 0.5);
    margin: 30px auto;
    transform-style: preserve-3D;
    -webkit-transform-style: preserve-3D;
    -webkit-transform: rotateX(50deg) rotateZ(-30deg);
    -moz-transform: rotateX(50deg) rotateZ(-30deg);
    -o-transform: rotateX(50deg) rotateZ(-30deg);
    transition: all 2s;
    -webkit-transition: all 2s;
    position: relative;
}

.register:hover {
    transform: rotateX(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
}

.register .r_content {
    width: 600px;
    height: 600px;
    padding: 15px 0;
}

.r_content:before,
.r_content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250, 250, 250, 0.6)
}

.r_content:before {
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    width: 25px;
}

.r_content:after {
    top: auto;
    left: 0px;
    transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    height: 25px;
}

.register .r_content h1 {
    margin-left: 215px;
    font-size: 26px;
    font-weight: 600;
}

.register .r_content dl {
    height: 50px;
    line-height: 50px;
    margin: 10px 0px;
}

.register .r_content dt {
    width: 180px;
    text-align: right;
    float: left;
}

.register .r_content dd {
    width: 320px;
    float: left;
}

input {
    margin-left: 10px;
    width: 320px;
    height: 20px;
    padding: 5px;
    border: 1px solid #fff;
    background: #fff;
    font-family: "微软雅黑";
}

input[type="submit"] {
    width: 332px;
    height: 40px;
    border: 4px solid #fff;
    background: #28B999;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    transition: all 500ms;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #28B559;
    color: #222;
}

input:focus {
    outline: 4px solid #007fff;
}

.indexmap {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    font-weight: 400;
}

.r_content .l_info {
    width: 300px;
    height: 18px;
    margin-left: 210px;
}

.r_content .l_info a {
    text-decoration: none;
    float: right;
    padding-left: 15px;
    color: #ccc;
}

.r_content .l_info a:hover {
    color: white;
    text-decoration: underline;
}